@use "./component/shelf";
@use "./component/category";
@use "./component/book";
@use "./component/form";

body{
    background-color: cornflowerblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#user{
    padding: 1%;
}