{% extends 'base.html.twig' %}

{% block title %}
    All shelf
{% endblock %}

{% block body %}
<div id="shelf">
    {% for shelf in shelfs %}
        <div class="row">
            {% for category in shelf.categories %}
                <div class="category">
                    {% for book in category.books %}
                        <div class="book">
                            <h4>{{ book.title }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}




